@font-face {
	font-family: AGaramondPro;
	src:url('../../../assets/fonts/AGaramondPro-Regular.otf');
}

@font-face {
	font-family: AGaramondPro;
	src:url('../../../assets/fonts/Adobe-Garamond-Pro-Italic.ttf');
	font-style: italic;
}

body {
	margin: 0;

	font-family: AGaramondPro;

	font-size: 15px;
	line-height: 1;
	color: #000;

	background: 
	url("../assets/bg/bg.jpg") center
	no-repeat;

	overflow-x: hidden;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

.container {
	width: 100%;
	max-width: 1840px;
	padding: 0 20px;
	margin: 0 auto;
}

/* Main */

.section {
	width: 100%;
	position: relative;

	z-index: 1;
}

.main {
	display: flex;
	justify-content: center;
}

.main__L {
	width: 50%;
	padding-top: 260px;
	display: flex;
	justify-content: center;
}

.main__R {
	width: 50%;
	padding-top: 50px;
}

/* Header */

.header {
	padding-top: 47px;

	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
}

.header__inner {
	display: flex;
	align-items: start;
	justify-content: space-between;
}

.header__item {
	display: flex;
	align-items: center;
}

.header__logo:before {
	content: "";
	width: 3px;
	height: 3px;
	display: block;
	margin: 0 auto 10px;

	z-index: 1;

	background-color: #000;
}

.header__logo {
	font-family: AGaramondPro;
	font-size: 24px;
	color: #000;

	z-index: 1;
}

.header__logo:after {
	content: "";
	width: 3px;
	height: 3px;
	display: block;
	margin: 12px auto 0;

	z-index: 1;

	background-color: #000;
}

.header__slide {
	font-size: 24px;
	font-family: AGaramondPro;

	color: #9b9392;
	cursor: pointer;
	position: relative;
	text-decoration: none;
}

.header__slide:after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;

	box-shadow: 0 1px 0 0 #848b8c;

	background-color: #ccc;
	opacity: 0;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;

	transition: opacity 0.1s linear;
}

.header__slide:hover:after, 
.header__slide.active:after {
	opacity: 1;
}

.header__item--main {
	position: absolute;
	left: 50%;
	left: calc(50% - 58px);
}


.header__stick {
	content: "";
	width: 72px;
	height: 1px;
	margin-right: 5px;

	box-shadow: 0 1px 0 0 #848b8c;

	z-index: 1;

	background-color: #ccc;
}

.header__stick--right {
	margin-left: 5px;
}

/* Social content */

.social {
	margin: 180px 0 0;
}

.social__item {
	margin-bottom: 40px;
}

.social:last-child {
	margin-bottom: 0;
}

.social__text {
	font-family: AGaramondPro;
	font-size: 12.5px;
	color: #000;
	display: block;

	writing-mode: vertical-rl;
	transform: rotate(180deg);
	text-decoration: none;
}

.social__text:hover {
	text-decoration: underline;
}

.social__stick {
	content: "";
	height: 155px;
	width: 1px;

	display: block;
	margin-left: 6px;

	z-index: 1;

	background-color: #000;
}

/* content */

.content {
	margin: 0 auto;
}

.content__subscription {
	width: 480px;
	font-size: 14px;
	font-family: AGaramondPro;
	color: #000;
	margin: 20px 0;
}

/* Coll */

.coll {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 66px;
}

.coll__item {
	display: flex;
	justify-content: center;
	margin-bottom: 35px;	
}

.coll__name {
	font-family: AGaramondPro;
	font-size: 14px;
	color: #000;
}

.coll__author {
	font-family: AGaramondPro;
	font-size: 14px;
	color: #000;
}

.coll__name:after {
	content: "";
	width: 2px;
	height: 2px;
	display: inline-block;
	margin: 0 10px;

	z-index: 1;

	background-color: #000;
}

.coll__signature:before {
	content: "";
	width: 1px;
	height: 228px;
	display: block;
	margin: 0 auto 60px;

	z-index: 1;

	background-color: #000;
}

.coll__signature {
	font-family: AGaramondPro;
	font-style: italic;
	font-size: 48px;
	color: #000;
	margin: 0 auto;
	line-height: 1.2;
	padding-left: 44px;
}

.coll__signature:after {
	content: "";
	width: 1px;
	height: 255px;
	display: block;
	margin: 75px auto 0;

	z-index: 1;

	background-color: #000;
}

.coll__center {
	text-align: center;
}

.coll__item--last {
	margin-bottom: 0;
}

.coll__share { 
	font-size: 24px;
	font-family: AGaramondPro;
	color: #000;
	text-decoration: none;
	position: absolute;
}

.coll__share:hover {
	text-decoration: underline;
}

/* Page */

.page {
	margin: auto 0;
}

.page__item {
	margin: 0 0 40px 30px;
}


.page__item--active {
	margin-left: 0;
}

.page__n {
	font-size: 14px;
	font-family: AGaramondPro;
	color: #000;
	text-decoration: none;
}

.page__n:hover {
	text-decoration: underline;
}

.page__n--active {
	font-size: 48px;
	margin-left: 0;

}

.page__n--active:hover {
	text-decoration: none;
}

.page__stick {
	content: "";
	height: 129px;
	width: 1px;
	margin-left: 8px;

	z-index: 1;

	background-color: #000;
}


/* Footer */

.footer {
	padding-bottom: 60px;
}

.footer__info {
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: start;
	padding: 0 10px;
	max-width: 1700px;
	margin: 0 auto;
}

.footer__time {
	font-size: 12.5px;
	font-family: AGaramondPro;
	color: #000;
}

.footer__time:after {
	content: "";
	width: 267px;
	height: 1px;

	display: inline-block;
	
	margin:0 20px 3px;

	z-index: 1;

	background-color: #000;
}


.footer__author {
	font-size: 12.5px;
	font-family: AGaramondPro;
	color: #000;
	margin-right: 165px;
}


.footer__namecoll {
	font-size: 24px;
	font-family: AGaramondPro;
	color: #000;
	margin-right: 127px;
}

.footer__all {
	font-size: 24px;
	font-family: AGaramondPro;
	color: #000;

	opacity: 0.4;
	cursor: pointer;

	position: relative;

	text-decoration: none;
}

.footer__all:after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;

	box-shadow: 0 1px 0 0 #848b8c;

	background-color: #ccc;
	opacity: 0;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;

	transition: opacity 0.1s linear;
}

.footer__all:hover:after, 
.footer__all.active:after {
	opacity: 1;
}


@media (max-width: 1750px) { 

	body {
		background-size: 106% 100%;
	}

	.footer__info {
		width: 52%;
		margin: 0;
	}

	.footer__time:after {
		width: 200px;
	}

	.footer__author {
		margin-right: auto;
	}

	.footer__namecoll {
		margin-right: auto;
	}

}

@media (max-width: 1290px) {

	body {
		background: 
		url("../assets/bg/adaptive_bg.jpg") center
		no-repeat;
		background-size: 100% 59%;
		background-position: bottom;
	}


	/* Main */

	.main {
		display: block;
	}

	.main__L {
		padding-top: 150px;
		width: 100%;
	}

	.main__R {
		width: 100%;
		padding: 0;
		margin-top: 150px;
	}

	/* Social */

	.social {
		margin: 0;
	}

	.social__item:last-child {
		margin-bottom: 0;
	}

	/* Coll */

	.coll {
		margin-left: 0;
	}

	.coll__item--last {
		margin-bottom: 65px;
	}

	.coll__signature {
		font-size: 40px;
	}

	.coll__signature:before {
		height: calc(228px/1.5)
	}

	.coll__signature:after {
		height: calc(255px/1.5)
	}

	/* Footer */

	.footer {
		padding-top: 0;
	}

	.footer__info {
		width: 75%;
	}

	.footer__time:after {
		width: 150px;
	}

	.footer__time:after {
		margin: 0 10px 3px;
	}

	.footer__namecoll {
		font-size: 20px;
	}

	.footer__all {
		font-size: 20px;
	}

}

@media (max-width: 770px) {

	body {
		background-size: 100% 64%;
	}

	.main__L {
		padding-top: 100px;
	}	

	/* Header */

	.header__stick {
		width: 48px;
	}

	.header__logo {
		font-size: 20px;
	}

	.header__item--main {
		left: calc(50% - 49px);
	}

	.header__slide {
		font-size: 20px;
	}

	/* Page */

	.page__item--active {
		margin-left: 8px;
	}

	.page__n--active {
		font-size: 36px;
	}

	/* Content */

	.content__img {
		width: 360px;
		height: 240px;
	}

	.content__subscription {
		width: 360px;
	}

	/* Footer */

	.footer__info {
		width: 100%;
	}

	.footer__time:after {
		width: 100px;
	}

}

@media (max-width: 540px) {

	body {
		background-size: 100% 64%;
	}


	/* Header */

	.header__logo {
		font-size: 16px;
	}

	.header__slide {
		font-size: 16px;
	}

	.header__item--main {
		left: calc(50% - 40px)
	}

	.header__stick {
		display: none;
	}

	/* Social */

	.social__stick {
		height: calc(155px/2);
	}

	/* Content */

	.content__img {
		width: 240px;
		height: 160px;
	}

	.content__subscription {
		width: 240px;
	}

	/* Coll */

	.coll__name {
		font-size: 12px;
	}

	.coll__author {
		font-size: 12px;
	}

	.coll__signature {
		font-size: 26px;
	}

	.coll__share {
		font-size: 16px;
	}

	.coll__signature:before {
		margin-bottom: 50px;
	}

	.coll__signature:after {
		margin-top: 65px
	}

	.coll__item--last {
		margin-bottom: 50px;
	}

	/* Page */

	.page__item {
		margin-bottom: 20px;
	}

	.page__stick {
		height: calc(129px/2);
	}

	.page__item--active {
		margin-left: 18px;
	}

	.page__n--active {
		font-size: 26px;
	}

	/* Footer */

	.footer__info {
		width: 100%;
	}

	.footer__time {
		font-size: 10px;
	}

	.footer__namecoll {
		font-size: 10px;
	}

	.footer__time:after {
		width: 50px;
	}

	.footer__namecoll {
		font-size: 14px;
	}

	.footer__all {
		font-size: 14px;
	}


}

@media (max-width: 350px) { 

	body {
		background-size: 100% 61%;
	}

	/* Content */

	.content__img {
		width: 170px;
		height: 113px;
	}

	.content__subscription {
		width: 170px;
	}

	/* Coll */

	.coll__name {
		font-size: 10px;
	}

	.coll__author {
		font-size: 10px;
	}

	.coll__signature {
		font-size: 18px;
	}

	.coll__share {
		font-size: 12px;
	}

	.coll__signature:before {
		height: calc(228px/2);
		margin-bottom: 45px;
	}

	.coll__signature:after {
		height: calc(255px/2);
		margin-top: 60px;
	}

	/* Footer */

	.footer__time {
		margin-right: auto;
	}

	.footer__time {
		font-size: 8px;
	}

	.footer__namecoll {
		font-size: 8px;
	}

	.footer__time:after {
		display: none;
	}

	.footer__namecoll {
		font-size: 12px;
	}

	.footer__all {
		font-size: 12px;
	} 

}
